[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
librosa = "*"
numpy = "*"
h5py = "*"
sklearn = "*"
matplotlib = "*"
ipython = "*"
torchlibrosa = "*"
panns-inference = "*"
pytorch-lightning = "*"
pyqt5 = "*"
soundfile = "*"

[dev-packages]
pylint = "*"
pudb = "*"

[requires]
python_version = "3.8"
